body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 30px;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin: 20px;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    flex: 1;
  }
  
  .search-bar button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  